body {
  /* if the viewport is too big, we make the body fill the screen */
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  background-color: #fafaf7;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.headerBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 0px 10px rgba(9, 30, 66, 0.04);
}

.headerBar>* {
  min-width: 200px;
}

.userProfileButton,
.sidebarButton {
  background-color: #d9e5ec9c;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.userProfileButton:hover,
.sidebarButton:hover {
  background-color: #c2d4df;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar {
  background-color: #fff;
  flex: 0 0 200px;
  box-shadow: 0 0px 15px rgba(9, 30, 66, 0.04);
  z-index: 1;
  height: 100%;
  border-radius: 0 0 10px;
  overflow: hidden;
}

.sidebarLinks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebarLink {
  background-color: #d9e5ec9c;
  padding: 1rem;
}

.sidebarLink:hover {
  background-color: #c2d4df;
}

.sidebarLink a {
  color: #000;
  text-decoration: none;
}

.main {
  flex: 1;
  min-width: 0;
  padding: 1rem 1rem;
}

.newTaskForm {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(9, 30, 66, 0.04);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.taskDetails {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.taskDetails>* {
  flex: 1;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.column {
  flex: 1;
  min-width: 0;
  padding: 0 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(9, 30, 66, 0.04);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.column>div {
  flex: auto;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.task {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(9, 30, 66, 0.09);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  max-width: 100%;
  min-height: 20px;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.task:hover {
  background-color: #f4f5f7;
}

.task:hover .planning {
  background-color: #eaeaea;
}

.task:hover .taskLinkButton {
  background-color: #eaeaea;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskTitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-align: left;
}

.taskLinkButton {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
  color: #999;
}

.taskPriority {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

/* Task priority colors */
.taskPriorityColor {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.planning {
  background-color: #f4f5f7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}