.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.filters select {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid rgb(221, 221, 221);
}

.filters .search {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid rgb(221, 221, 221);
}

.Toastify__toast {
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
}